namespace: clickhouse

config:
  tls:
    enabled: true
    ## When enabled will generate a httproute
    routes: true
    ## Use in configuring clickhouse TLS connectivity
    cert_name: tls-cert2
  ## Clickhouse image tag to use
  clickhouse_version: 25.9
  ## Used when configuring a tlsroute, feel free to ignore if you're not using the feature
  domains:
    - localhost.nip.io

  ## Optionally enable a pod to enable backups
  backups:
    ## Exposes a service with monitoring date for Otle use
    monitoring:
      enabled: true
    enabled: false
    ## image version
    version: 2.6.39
    # service_name: clickhouse-backup-gsa@stardust-development-464714.iam.gserviceaccount.com
    # retention_policy: 7
    backup_interval: 24h
    full_interval: 168h
    storage: gcs
    bucket: clickhouse-stardust-staging
    backup_path: backup/shard-{shard}
    ## these should point to localhost:9000 but if need be they are exposed as configurable
    # clickhouse_host: localhost.nip.io
    # clickhouse_port: 90001
    backups_user:
      name: admin
      secret:
        name: "clickhouse-users"
        key: "admin_password"

    ## Note: You should Either use a service name OR service_file, not both.
    service_name: clickhouse-backup-sa
    service_file: {}
    #   env_name: GCS_CREDENTIALS_JSON # Or GCS_CREDENTIALS_JSON_ENCODED
    #   secret_name: "secret_name"
    #   secret_key: "secert_property"

  chk:
    affinity:
      ## When enabled, podAntiAffinity ensures that each keeper pod is running on a different node.
      podAntiAffinity: false
      ## affinity allow you to pin the deployment to a given node pool
      enabled: false
      label_name: cloud.google.com/gke-nodepool
      node_pool: low-resource-pool

    ## Delete will mean data loss on PVC size change
    storage_policy: Retain
    monitoring:
      enabled: true
    name: "keeper-cluster"
    resources:
      disk_volume_size: 20Gi
      replicasCount: 3
      requests:
        memory: 256M
        cpu: 1
      limits:
        memory: 4Gi
        cpu: 2
  ch:
    affinity:
      ## When enabled, podAntiAffinity ensures that each data pod is running on a different node.
      podAntiAffinity: false
      ## affinity allow you to pin the clickhouse data deployment to a given node pool
      enabled: false
      label_name: cloud.google.com/gke-nodepool
      node_pool: clickhouse-data-pool

    ## Delete will mean data loss on PVC size change
    storage_policy: Retain
    name: ch-cluster
    monitoring:
      enabled: true
    profiles:
      - name: readonly
        readonly: 1
        max_memory_usage: "10000000000"
      - name: "default"
        readonly: 0
        max_memory_usage: "10000000000"
    files:
      - name: "config.d/distributed_ddl.xml"
        data: |
          <clickhouse>
            <distributed_ddl>
              <path>/clickhouse/task_queue/ddl</path>
            </distributed_ddl>
          </clickhouse>

    users:
      ## see https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/05-settings-01-overview.yaml for more detailed examples
      # New User example
      # - name: myUsers
      #   password_secret:
      #     name: "clickhouse_users"
      #     key: "-myUsers-password"
      #   allowed_ips: "::/0"
      #   profile: "default"
      #   quota: "default"
      #   access_management: "1"

      - name: admin
        password_secret:
          name: "clickhouse_users"
          key: "admin_password"
        access_management: 1
      - name: readonly_user
        password_secret:
          name: "clickhouse_users"
          key: "readonly_password"
        profile: "readonly"
      - name: backup_user
        password_secret:
          name: "clickhouse_users"
          key: "backup_password"
        databases:
          - moo
          - foo
          - bar
    resources:
      # disk_volume_size: 1000Gi
      # log_volume_size: 10Gi
      max_concurrent_queries: 100
      # shardCount: 1
      # replicasCount: 1
      requests:
        memory: 8Gi
        cpu: 4000m
      limits:
        memory: 16Gi
        cpu: 8000m

extraResources: []
